<div class="modal-overlay" *ngIf="show">
  <div class="modal-content">
    <!-- Formulario de CREAR -->
    <form *ngIf="tipo === 'crear'" (ngSubmit)="crearNota()">
      <h2>Crear nota</h2>
      <div class="general">
        <div class="labels">
          <label for="title">Título:</label>
          <label for="descripción">Descripción:</label>
          <label for="links">Links:</label>
          <label for="imagen">Seleccionar imagen:</label>
        </div>
        <div class="contenido">
          <input type="text" placeholder="Título" name="titulo" [(ngModel)]="nota.titulo" required />
          <textarea placeholder="Descripción" name="descripcion" [(ngModel)]="nota.descripcion"></textarea>
          <input type="text" [(ngModel)]="linksTemp.github" name="github">
          <input type="text" [(ngModel)]="linksTemp.linkedin" name="linkedin">
          <input type="text" [(ngModel)]="linksTemp.otro" name="otro">


          <label class="boton-imagen">
            Subir Imagen
            <input type="file" accept="image/*" hidden (change)="onFileSelected($event)">
          </label>
        </div>
      </div>

      <div class="botones">
        <button type="submit">Crear</button>
        <button type="button" class="close-btn" (click)="cerrarModal()">Cancelar</button>
      </div>
    </form>


    <!-- Formulario de EDITAR -->
    <form *ngIf="tipo === 'editar'">
      <h2>Editar nota</h2>
      <input type="text" placeholder="Nuevo título" />
      <textarea placeholder="Nueva descripción"></textarea>
      <div class="botones">
        <button type="submit">Actualizar</button>
        <button class="close-btn" (click)="cerrarModal()">cancelar</button>
      </div>
    </form>

    <!-- Formulario de ELIMINAR -->
    <div *ngIf="tipo === 'eliminar'">
      <h2>¿Seguro que quieres eliminar esta nota?</h2>
      <div class="botones">
        <button>Eliminar</button>
        <button class="close-btn" (click)="cerrarModal()">cancelar</button>
      </div>

    </div>

  </div>
</div>
