.notas-container {
  display: flex;
  flex-direction: row; /* Apila en horizontal */
  flex-wrap: wrap;     /* Permite que pasen a la siguiente fila */
  gap: 1rem;           /* Espacio entre notas */
  justify-content: center; /* Alinea notas al inicio */
  padding: 1rem;
  box-sizing: border-box;
}

.nota {
  width: 30vw;         /* Ancho relativo al viewport */
  min-width: 200px;    /* Ancho mínimo para que no se encojan demasiado */
  height: 80vh;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.nota h3{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
  font-family: "BondonItaly";
  margin: 8px;
  --line-clamp: 2;  
}

.nota p{
  margin: 12px;
  max-height: 30%;
  overflow-y: auto;
  
}

img{
  height: 120px;
  width: 100%;
  border-radius: 12px;
  object-fit: cover; /*La imagen se ajusta al contenedor*/
}

.links{
  display: flex;
  justify-content: flex-end;
}

.links img{
  margin: 20px;
  height: 40px;
}