<div class="page-wrapper">
  <header class="header">
    <h1 class="title">Bienvenido</h1>
    <div class="textos">
      <app-editor-text [title]="'Texto editable aquí'" ></app-editor-text>
    </div>
    
  </header>

  <main class="body">

    <div class="barra_principal">
      <div class="menu_nav">
        <nav>
          <ul class="navar link">
            <li *ngFor="let cat of categorias">
              <a href="javascript:void(0)" (click)="irACategoria(cat)">{{ cat }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div>
      <div class="menu">
        
      </div>
      <div class="botones">
        <button (click)="abrirModal('crear')">+</button>
        <button (click)="abrirModal('editar')">*</button>
        <button (click)="abrirModal('eliminar')">-</button>
      </div>
    </div>
    

    <app-notes
      [uid]="uid"
      (categoriasEncontradas)="recibirCategorias($event)"
    ></app-notes>

    <p>Contenido principal aquí</p>
    <p>Más contenido, textos, imágenes o secciones</p>
  </main>

  <footer class="footer">
    <p>Pie de página — todos los derechos reservados</p>
  </footer>

  <app-modal
  *ngIf="mostrarModal"
  [show]="mostrarModal"
  [uidUsuario]="uid"
  [tipo]="tipoModal"
  (close)="cerrarModal()">
</app-modal>

 
</div>
