<div class="page-wrapper">
  <header class="header">
    <h1 class="title">Bienvenido</h1>
    <div class="textos">
      <app-editor-text [title]="'Texto editable aquí'" ></app-editor-text>
    </div>
    
  </header>

  <main class="body">

    <div class="barra_principal">
      <div class="menu_nav">
        <nav>
          <ul class="navar link">
            <li *ngFor="let cat of categorias">
              <a href="javascript:void(0)" (click)="irACategoria(cat)">{{ cat }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div>
      <div class="menu">
        
      </div>
      <div class="botones">
        <button (click)="abrirModal('crear')">+</button>
      </div>
    </div>
    

    <app-notes
      *ngIf="mostrarNotas"
      [uid]="uid"
      (categoriasEncontradas)="recibirCategorias($event)"
    ></app-notes>
  </main>

  <footer class="footer">
    <div class="contenidoFooter">
      <div class="Contactos">
        <h2>Contactos</h2>
        <a> Geanfranco</a>

      </div>
      <div class="cuentas">
        <h2>Siguenos</h2>
        <div class="Links">
          <app-link-icon  [tipo]="'GitHubLight'" [url]="'https://github.com/dashboard'"></app-link-icon>
        <app-link-icon  [tipo]="'LinkedInLigth'" [url]="'https://www.linkedin.com/in/geanfranco-piccioni-8864a3340'"></app-link-icon>
        </div>
      </div>
    </div>
  </footer>

  <app-modal
  *ngIf="mostrarModal"
  [show]="mostrarModal"
  [uidUsuario]="uid"
  [tipo]="tipoModal"
  (close)="cerrarModal()">
</app-modal>

 
</div>
